<section class="ftco-section all-blogs">
  <div class="container px-md-0">
      <h1 class="mb-5 text-center">All Tutorials</h1>
          <div class="blog-list">
            <% for (let i=0; i < blogs.length; i += 1) { %>
              <div>
                <div class="col-sm-12 col-md-10 col-lg-8 mx-auto p-sm-5 py-3 px-5 mb-4 blog">
                    <h4 class="mb-2">
                        <a href="/blog/<%= blogs[i].url %>"><%= blogs[i].title %></a>
                    </h4>
                    <p class="mt-4"><%= blogs[i].metaDescription %>... <a href="/blog/<%= blogs[i].url %>">Read More</a> </p>
                </div>
            </div>
            <% } %>
          </div>
  
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item <% if (page === 1) { %>disabled<% } %>">
                  <a class="page-link" href="<% if (page !== 1) { %>/blog/p/<%= page - 1 %><% } else { %>#<% } %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <% for (let i=0; i < total; i += 1) { %>
                    <li class="page-item <% if (page === i + 1){ %>active<% } %>"><a class="page-link" href="/blog/p/<%= i + 1 %>"><%= i+ 1 %></a></li>
                <% } %>
                <li class="page-item <% if (page === total) { %>disabled<% } %>">
                  <a class="page-link" href="<% if (page !== total) { %>/blog/p/<%= page + 1 %><% } else { %>#<% } %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
          </nav>
  </div>

</section>
