<section id="home-section" class="hero-wrap js-fullheight" style="height: 100vh!important;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center" style="height: 100vh!important;">
      <div class="col-lg-8 col-md-6 d-flex align-items-center">
        <div class="text text-center">
          <div class="mb-3">
            <img class="d-block m-auto main-photo" style="border-radius: 50%; border: 1px solid;" src="images/tt.jfif" title="Shivam Kumraa's Photo" alt="">
          </div>
          <span class="subheading">Hey! I am</span>
          <h1>Shivam Kumraa</h1>
          <h2>I
            <span
              class="txt-rotate"
              data-period="2000"
              data-rotate='["am a Full stack developer", "Have 3+ years of experience"]'></span>
          </h2>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="mouse d-none d-sm-block">
    <a href="#" class="mouse-icon">
      <div class="mouse-wheel">
        <svg width="11px" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="long-arrow-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-long-arrow-down fa-w-8 fa-2x">
          <path fill="currentColor" d="M252.485 343.03l-7.07-7.071c-4.686-4.686-12.284-4.686-16.971 0L145 419.887V44c0-6.627-5.373-12-12-12h-10c-6.627 0-12 5.373-12 12v375.887l-83.444-83.928c-4.686-4.686-12.284-4.686-16.971 0l-7.07 7.071c-4.686 4.686-4.686 12.284 0 16.97l116 116.485c4.686 4.686 12.284 4.686 16.971 0l116-116.485c4.686-4.686 4.686-12.284-.001-16.97z" class=""></path>
        </svg>
      </div>
    </a>
  </div>
</section>
<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
  <div class="container">
    <div class="row justify-content-center py-5 mt-5">
      <div class="col-md-12 heading-section text-center">
        <h1 class="big big-2">About Me</h1>
        <h2 class="mb-4">About Me</h2>
      </div>
      <p class="text-center container">
        I am a professional full-stack developer with 3+ years of experience with a passion for writing code and building problem-solving products. My experience ranges from building small to medium-sized applications. So far, I have worked with three companies and 50+ clients. I respect deadlines and love building great tech products.
      </p>
    </div>
  </div>
</section>
<%- include('partials/skills') %>
<%- include('partials/services') %>
<%- include('partials/testimonials') %>
<%- include('partials/projects') %>
<section class="ftco-section ftco-hireme img" style="background-image: url('/images/bg_1.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2>I'm <span>Available</span> for Hiring</h2>
        <p>Feel free to contact and hire me for any product or software development.</p>
        <p class="mb-0"><a href="#contact-section" class="btn btn-primary py-3 px-5">Hire me</a></p>
      </div>
    </div>
  </div>
</section>
<%- include('partials/contact') %>
